{erl_opts, [debug_info]}.
{deps, [
    {jsone, "1.4.3"},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.8"}}}
]}.

{relx, [{release, { edeet, "0.1.0" },
         [edeet,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
