@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext);

* {
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    background: #eee;
}

body h1 {
    font-family: 'Lora', serif;
}

.editable{
    font-family: 'Lora', serif;
    text-align: left;

    background: #fff;

    width: 100%;

    clear: both;
    outline: none;
}

#header {
    margin: 0 auto;

    width: 60%;
}

#header h1 {
    font-size: 32pt;
}

#header h1 i {
    color: #64C251;
}

.wrapper {
    margin: 0 auto;
    padding: 25pt 20pt 20pt 20pt;

    background: #fff;

    width: 60%;
    height: auto;

    display: block;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(158,158,158,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(158,158,158,1);
    box-shadow: 0px 0px 3px 0px rgba(158,158,158,1);
}

#people {
    position: absolute;
    right: 50px;
}

.person {
    overflow: hidden;
    font-size: 20pt;
    letter-spacing: 20px;
    padding: 7px 12px;
    width: 40px;
    height: 40px;
    background: #64C251;
    color: #fff;

    display: none;

    margin-bottom: 20px;
}

#login {
    z-index: 10;
    display: block;
    top: 100px;
    left: 0;
    position: absolute;
    background: #eee;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 150px;
}

#login input {
    font-family: 'Lora', serif;
    font-size: 30pt;
    shadow: 0;
    border: 0;

    padding: 10px;
}

#documents {
    z-index: 5;
    display: block;
    top: 100px;
    left: 15%;
    right: auto;
    position: absolute;
    background: #eee;
    width: 70%;
    height: 100%;
    text-align: center;
    padding-top: 150px;
}

#documents .document {
    font-family: 'Arial', sans-serif;
    width: 200px;
    height: 300px;

    background: #64C251;
    color: #fff;

    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    padding-top: 130px;
    text-align: center;
}

#documents .document:hover {
    background: #4f9940;
    cursor: hand;
}

#documents #new_document i {
    font-size: 40pt;
}